/*导航信息-可全局*/
body{color: #333; font-size: 12px;}
.el-breadcrumb{margin: 0 0 14px;}
/*聊天列表*/
.chatList .card-search {max-width: 100vw;margin-bottom: 12px;}
.chatList .clearfix:before,
.chatList .clearfix:after {display: table;content: "";}
.chatList .clearfix:after {clear: both}
.chatList .card-btn {float: right; padding: 3px 0}
.chatList .card-list {max-width: 100vw;margin-bottom: 12px;}
.chatList .card-list .bottom {margin-top: 13px;line-height: 12px;margin-left: 20px;}
.chatList .card-list .card-pad {padding-right: 20px;}
.chatList .update{margin-left: 10px;color: #CBD066;}
.chatList .delete{margin-left: 10px;color: #CBD0D6;}
/*聊天客服*/
.chatService .main{height:76.4vh;position: relative;overflow: hidden;background-color: #eee}
.chatService .m-message{height:calc(100% - 183px);padding: 10px;overflow :auto}
.chatService .m-message .title {margin: 0;float: left;color: #262626;margin-right: 15px;}
.chatService .m-message .content { color: #795c53; width: 300px; height: 90px; display: table-cell; vertical-align: middle; text-align: left;}
.chatService .m-message .name {margin: 0;color: #a76baf;margin-bottom: 10px}
.chatService .m-message ul li {list-style: none;}
.chatService .m-message ul:last-child{margin-bottom: 30px}
.chatService .m-message .chatList {padding-left: 0}
.chatService .m-message .chatList .content-img {width: 90px;}
.chatService .m-message .chatTitle-user {color: #af620e;overflow: hidden}
.chatService .m-message .chatTitle-my {color: #3c4955;overflow: hidden}
.chatService .m-message .chatTitle {float: left;width: 120px;text-align: right}
.chatService .m-message .sign {float: left;margin-right: 15px;}
.chatService .m-message .chatContent {float: left}
.chatService .m-message .chatList .chat-time {float: right;}
.chatService .m-text {height:183px;position:absolute;width:100%;bottom:0;left:0;border-top:1px solid #ddd;background-color: #fff;padding-top: 10px;overflow :auto}
.chatService .m-text .title {margin-right: 15px;color: #262626;}
.chatService .m-text .textarea {border:none;outline:0;resize:none;width: 95%}
.chatService .m-text-content {padding: 10px 10px 10px 50px;}
.chatService .m-text .chat-btn {float: right;margin-right: 50px;margin-top: 15px;}

