ul li {padding:0;margin:0;list-style:none;}
.header {overflow: hidden;margin-bottom: 20px;width: 100%;font-size:12px;line-height: 20px;}
.el-breadcrumb {display: inline-block;}
.header .el-button {float: right;}
.header .title {width: 94%;border-bottom: 1px solid #ccc;float: left}
/*分销商管理*/
.distManagement .dis_set .el-breadcrumb{margin-top: 10px;}
.distManagement .flex_box span{margin-left: 20px}
.distManagement .flex_box{display: flex;justify-content: space-between;}
.distManagement .flex_box>div{width: 20%;}
.distManagement .flex_box button{background: none;width: 80px;border: 1px solid #eee;height: 30px;margin: 0}
.distManagement .search_title{display: flex;justify-content: flex-end;}
.distManagement .search_title .el-select{margin-right: 10px}
.distManagement .el-pagination{margin-top: 20px}
.distManagement .sign {padding: 2px 6px; color: #13ce66; border-radius: 50%; border: 1px solid #13ce66;
  position: absolute;top: 10px; z-index: 99; }


/*分销商详情*/
.distributionDetails .dis_table1 table,.dis_table1 table tr,.dis_table1 table tr td{border: 1px solid #eee;border-collapse:collapse; color:  #909399;}
.distributionDetails .dis_table1 table tr td{height: 30px;padding: 10px}
.distributionDetails .dis_table1 table tr td span{margin: 0 10px}
.distributionDetails .dis_table_2,.distributionDetails .dis_table_3,.distributionDetails .dis_table_4,.distributionDetails .dis_table_5{position: relative;margin-top: 30px}
.distributionDetails .dis_table_2>p:nth-of-type(2){cursor:pointer;position: absolute;width: 300px;right: 0;top: 0;margin: 0;}
.distributionDetails .dis_table_2>p:nth-of-type(2) span{cursor:pointer;display: block;height: 30px;width: 80px;border: 1px solid #eee;float: left;text-align: center;line-height: 30px}
.distributionDetails .dis_table_2 .is-scrolling-none{height: 50px!important;}
.distributionDetails .detailTable table { border-collapse: collapse;width: 100%;line-height: 40px;color: #909399;text-align: center; }
.distributionDetails .detailTable table, td, th { border: 1px solid #909399;}
.distributionDetails .distri_bottom{margin-top: 20px}
.distributionDetails .el-pagination{margin-top: 20px}
.distributionDetails .dis_table1 .title {width: 180px;background: #f9f6f6;text-align: right;}
