/*目录*/
.el-breadcrumb {margin: 0rem 0rem 5rem 0rem;font-size: 14px;line-height: 2;}
/*背景框*/
.user{width:100%;height: 12rem;background-color: #d7d6d3;padding:10px;white-space:nowrap;text-overflow:ellipsis;}
.character{color: #666; word-break:keep-all;font-size: 1.3rem;white-space:nowrap;padding-top: 0.5rem; width: 7.5rem;}
.character2{padding:1rem 0.5rem 0.5rem 0.5rem}
/*输入框*/
.el-input__inner{width: 100%!important;}
/*表格*/
.character3{margin-top: 16px;border-color: #333;width: 100%;}
.el-breadcrumb{margin: 0 0 14px;}

/*.clearfix{height: 38px;}*/
.left{float: left; width: 50%;}
.right{float: right; width: 50%;}
.el-form {width:122rem;}
/*表*/
.el-card__body {width: 100%;}
.el-dialog__body { padding: 31px 0px;border:1px solid red;}
.ordernotes>form{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.ordernotes>form>div{
  width: 40%;
}
.ordernotes .el-form-item{
  margin-left: 5%;
}
.ordernotes .radio{margin-top: 7px;}
.goofoutb_backgroud{width: 100%;}

.el-table__header-wrapper>.el-table__header th{
  background: #FAFAFA;
}

.el-message{
  overflow: visible!important;
}
.cell{
  display: flex;
  justify-content: center;
}

.el-table th>.cell{
  text-align: center!important;
}


/*排列方式*/
.clearfix>.el-select{
  width: 100px;
}
