/*选择条件搜索*/
 .searchBorder {padding: 20px;margin-bottom: 20px;border: 1px solid #e4e7ed;background: #d7d6d3;}
 .searchBorder .borderFlex {
  display: -webkit-flex; /* Safari */-webkit-flex-wrap: wrap;
  /* Safari 6.1+ */display: flex;flex-wrap: wrap;width: 90%;}
